{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts - Brand</title>
    <link rel="stylesheet" href="{% static 'ESdashboard/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{% static 'ESdashboard/css/bs-theme-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'ESdashboard/css/Icon-Button.css' %}">
    <link rel="stylesheet" href="{% static 'ESdashboard/fonts/font-awesome.min.css' %}">

</head>

<body class="text-center">
    <nav class="navbar navbar-expand-md sticky-top py-3 navbar-dark" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon" style="color: var(--bs-body-bg);background: var(--bs-secondary);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"></path>
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                    </svg></span><span>Equal Systems</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'billing' %}">Billing</a></li>
                    <li class="nav-item"><a class="nav-link" href="services.html">Catatan</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="pricing.html">Reports</a></li>
                    <li class="nav-item"><a class="nav-link" href="contacts.html">Members</a></li>
                    </ul><a class="btn btn-primary shadow" role="button" href="{% url 'adminp' %}" style="background: var(--bs-secondary);border-style: solid;border-color: var(--bs-secondary);">Admin Panel</a>
            </div>
        </div>
    </nav>
    <div style="width: 50%;margin-left: 25%;"><button data-start-day-url="{% url 'start_day' %}" data-url="{% url 'set_all_relays_off' %}" id="startall" name="startall" class="btn btn-success d-block icon-button w-100" type="button" style="height: 58.4px;margin-top: 31px;margin-bottom: 31px;padding-top: 5.6px;background: var(--bs-success);"><i class="fa fa-power-off fs-1 text-dark"></i><span class="fs-2 text-dark" style="margin-bottom: 0px;padding-bottom: 0px;margin-top: 0px;">Mulai&nbsp;</span></button></div>
    <div id="start_check" data-day-started="{{ started }}" class="text-center" style="width: 100%;margin: 0px;margin-top: 5px;margin-bottom: 10px;">
        {% if day_started %}
        <div id="main1" class="container" style="display: block;">
        {% else %}
        <div id="main1" class="container" style="display: none;">
        {% endif %}
            <div class="row text-center" style="margin-right: 0px;margin-top: 4px;">
                {% for table in tables %}
                    
                <div id="div-{{ table.table_number }}" 
                        class="col-md-3 text-center text-bg-dark"
                        style="
                            height: 100%;
                            width: 19.5%;
                            margin-left: 5px;
                            {% if table.state == 1 %}
                                border: 5.4px solid var(--bs-form-valid-border-color);
                            {% else %}
                                border: 5.4px solid var(--bs-secondary-text-emphasis);
                            {% endif %}
                        ">
                    <div class="row text-center" style="width: 100%;text-align: center;">
                        <div class="col text-center" style="width: 100%;height: 33%;padding-right: 0px;padding-left: 0px;text-align: center;margin-left: 24px;">
                            <div class="text-center" style="width: 100%;">
                                <label class="form-label fs-1 text-center">Meja {{ table.table_number }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                                        <!-- Button that will trigger modal dynamically -->
                            <button 
                            id="{{ table.table_number }}" 
                            data-relay-id="{{ table.relay_id }}" 
                            data-state="{{ table.state }}" 
                            data-url="{% url 'control_relay' %}"
                            class="btn btn-primary btn-sm text-center d-block icon-button w-100" 
                            type="button"
                            data-bill-total="{{ table.total_billing }}"
                            data-selected-rate-id="{{ table.ratePmin_id }}"
                            data-selected-ratepMin="{{ table.ratePmin.per_minute_rate }}"
                            data-settime="{{ table.set_time }}"
                            data-start-table-url="{% url 'start_table' table.id %}"
                            data-bill-id="{{ table.current_bill }}"
                            name="meja {{ table.table_number }}" 
                            style="background: var(--bs-secondary);margin: auto;margin-top: 5px;border-color: var(--bs-secondary);width: 100%;"
                            onclick="handleButtonClick(this)">
                            <i class="fa fa-power-off fs-1 text-success" style="width: 25.725px;color: var(--bs-form-valid-color);"></i>
                            </button>
                        </div>
                        <div class="col">
                            <button
                             class="btn btn-primary btn-sm text-center d-block icon-button w-100"
                             type="button"
                             style="background: var(--bs-secondary);margin: auto;margin-top: 5px;border-color: var(--bs-secondary);width: 100%;padding-right: 18px;"
                             id="p-{{ table.table_number }}"
                             name="pmeja-{{ table.table_number }}"
                             data-url="{% url 'control_relay' %}"
                             onclick="handlepButtonClick(this)">
                             <i class="fa fa-dollar fs-1 text-success" style="width: 25.725px;color: var(--bs-green);"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <label id="live-billing-{{ table.table_number }}" class="col-form-label">Billing: {{ table.total_billing }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <label class="form-label" id="duration-{{ table.table_number }}" style="margin-bottom: 0px;">Durasi:&nbsp;</label>
                            <label id="{{table.table_number}}-time" class="form-label" style="margin-bottom: 0px;">{{ table.get_duration }}</label>
                        </div>
                        <div class="col text-center">
                            <label class="form-label" id="time-left-{{ table.table_number }}" style="margin-bottom: 0px;">Sisa:&nbsp;</label>
                            <label id="timeleft-{{table.table_number}}" class="form-label" style="margin-bottom: 0px;">{{ table.set_time }}</label>
                        </div>
                    </div>
                </div>
                <script>
                    function convertHMSToMilliseconds(hms) {
                        const [hours, minutes, seconds] = hms.split(':').map(Number);
                        return (hours * 3600 + minutes * 60 + seconds) * 1000; // Convert to milliseconds
                    }

                    document.addEventListener("DOMContentLoaded", function() {
                        const startTime = "{{ table.start_time|date:'Y-m-d H:i:s' }}";  // Pass start time from Django template
                        const tableState = "{{ table.state }}";  // Pass the table state
                        const tableid = "{{ table.table_number }}";
                        const settime = "{{ table.set_time }}";
                        const ratePerMinute = "{{ table.ratePmin.per_minute_rate }}";
                        const billTotal = "{{ table.total_billing }}";
                        
                        console.log(startTime);
                        console.log(tableState);
                        console.log(tableState);
                        console.log('Set Time: ', settime);
                        console.log("Rate from event Listener: ", ratePerMinute);
                        totalTimeMs = convertHMSToMilliseconds(settime);
                        startCountdown(tableid, totalTimeMs, startTime);
                        updateTableDuration(tableid, startTime, tableState, ratePerMinute, billTotal);
                    });
                </script>
                {% endfor %}
                <button data-end-day-url="{% url 'end_of_day_sales_summary' %}" 
                data-url="{% url 'set_all_relays_off' %}" 
                id="endall" name="endall" 
                onclick="enddaybutton(this)"
                class="btn btn-danger d-block icon-button w-100" 
                type="button" 
                style="height: 58.4px;margin-top: 31px;margin-bottom: 31px;padding-top: 5.6px;background: var(--bs-danger);"><i class="fa fa-power-off fs-1 text-dark"></i><span class="fs-2 text-dark" style="margin-bottom: 0px;padding-bottom: 0px;margin-top: 0px;">End day&nbsp;</span></button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-3" tabindex="-1" aria-labelledby="modal-3-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-3-label">Open Meja <span id="modal-table-number"></span> - <span id="modal-customer-name"></span></h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <!-- Rate Dropdown -->
                            <div class="col-md-3" style="width: 50%;">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle link-dark" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: var(--bs-secondary);border-color: var(--bs-secondary);margin-top: 19px;width: 213.238px;">Rate</button>
                                    <div class="dropdown-menu">
                                        {% for rate in user_rates %}
                                            <a class="dropdown-item" href="#" onclick="selectRate({{ rate.id }}, '{{ rate.name }}')">{{ rate.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <input type="hidden" id="selected-rate-id" name="selected-rate-id" value="">
                            </div>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    
                            <!-- Duration Input -->
                            <div class="col-md-3 offset-xl-0 text-center" style="width: 50%;">
                                <label class="form-label fs-5" style="display: block;">Durasi Main</label>
                                <div style="width: 100%;display: inline;margin-right: 5px;">
                                    <input id="timeh" type="number" style="width: 45.2px;background: var(--bs-form-valid-color);border-radius: 13px;border: 1.6px solid var(--bs-form-valid-color);" hour="00" placeholder="00" name="Ohour">
                                    <label class="form-label" style="margin-left: 5px;">:</label>
                                </div>
                                <div style="width: 100%;display: inline;margin-right: 0px;">
                                    <input id="timem" type="number" style="width: 45.2px;background: var(--bs-form-valid-color);border-radius: 13px;border: 1.6px solid var(--bs-form-valid-color);" min="00" placeholder="00" name="Ominute">
                                </div>
                            </div>
                        </div>
    
                        <!-- Member Dropdown and Customer Name Input -->
                        <div class="row" style="margin-top: 31px;">
                            <div class="col-md-3" style="width: 50%;">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle link-dark" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: var(--bs-secondary);border-color: var(--bs-secondary);margin-top: 22px;width: 213.45px;">Member</button>
                                    <div class="dropdown-menu">
                                        <!-- Customer Name Input Field -->
                                        <input type="text" id="customer-name" class="form-control mt-2" placeholder="Member Name...">
                                        <a class="dropdown-item" href="#">New</a>
                                        <a class="dropdown-item" href="#">Bagus</a>
                                        <a class="dropdown-item" href="#">Dian</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer" style="border-style: none;">
                    <button class="btn btn-dark open-table-btn" type="button" 
                        style="background: var(--bs-form-valid-color);color: var(--bs-btn-border-color);"
                        data-table-id=""
                        data-relay-id=""
                        data-start-table-url=""
                        data-settime=""
                        data-customer-name=""
                        data-selected-rate-id=""
                        data-selected-rate-value=""
                        data-bill-total=""
                        data-url="{% url 'control_relay' %}"
                        onclick="handleTableStateChange3(this)">Open</button>
                    <button id="hidden-close-button" type="button" class="d-none" data-bs-dismiss="modal"></button>
                </div>            
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modal-2" tabindex="-1" aria-labelledby="modal-2-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-2-label">Stop Meja <span id="modal-table-number"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="table-responsive">
                            <table id="bill" class="table">
                                <thead>
                                    <tr>
                                        <th class="text-light" style="border-color: var(--bs-secondary);">Item</th>
                                        <th class="text-light" style="border-color: var(--bs-secondary);">Quantity</th>
                                        <th class="text-light" style="border-color: var(--bs-secondary);">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-light" style="border-style: none;border-color: var(--bs-secondary-bg-subtle);">Es Teh</td>
                                        <td class="text-light" style="border-style: none;border-color: var(--bs-secondary-bg-subtle);">5</td>
                                        <td class="text-light" style="border-style: none;border-color: var(--bs-secondary-bg-subtle);">25.000</td>
                                    </tr>
                                    <tr>
                                        <td class="text-light" style="border-style: none;border-color: var(--bs-secondary-bg-subtle);">Bintang</td>
                                        <td class="text-light" style="border-style: none;border-color: var(--bs-secondary-bg-subtle);">2</td>
                                        <td class="text-light" style="border-style: none;border-color: var(--bs-secondary-bg-subtle);">60.000</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold text-success" style="border-style: none;border-color: var(--bs-secondary);border-top: 1px solid var(--bs-secondary) ;">TOTAL</td>
                                        <td class="text-success" style="border-style: none;border-color: var(--bs-secondary);border-top: 1px solid var(--bs-secondary) ;"></td>
                                        <td class="fw-bold text-success" style="border-style: none;border-color: var(--bs-secondary);border-top: 1px solid var(--bs-secondary) ;border-bottom-style: none;">85.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="border-style: none;">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal" style="background: var(--bs-secondary);border-color: var(--bs-secondary);">CETAK</button>
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal" style="background: var(--bs-form-valid-color);border-color: var(--bs-form-valid-border-color);">BAYAR</button>
                    <button name="stop" class="btn btn-primary link-dark stop-table-btn" type="button" 
                    style="background: var(--bs-form-invalid-border-color);border-color: var(--bs-form-invalid-color);"
                    data-table-id="" 
                    data-relay-id=""
                    data-url="{% url 'control_relay' %}"
                    data-selected-rate-id=""
                    data-bill-id=""
                    onclick="handleTableStateChange2(this)">STOP</button>
                    <button id="hidden-close-button-stop" type="button" class="d-none" data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>    
    <!-- Modal 1 -->
    <div class="modal fade" id="modal-1" tabindex="-1" aria-labelledby="modal-1-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-1-label">Tambah Belanjanan Meja</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="border-style: none;border-top-style: none;border-bottom-style: none;">
                    <div class="container">
                        <div class="row">
                            {% for category in categories %}
                                <div class="col-md-3">
                                    <div class="dropdown" style="width: 100%;">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 100%;padding-left: 9px;">
                                            {{ category.name }}
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">
                                                <input type="search" style="width: 100%;border-radius: 9px;border-style: solid;border-color: var(--bs-secondary);border-top-style: solid;" placeholder="Cari..." data-bs-theme="dark">
                                            </a>
                                            {% for item in category.catagories.all %}
                                                <a class="dropdown-item" href="#">{{ item.product_name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="number" placeholder="Jumlah" style="width: 25%;background: var(--bs-secondary);color: var(--bs-body-color);border-radius: 17px;border-color: var(--bs-secondary);">
                    <button
                     name="purchase"
                     class="btn btn-success link-dark"
                     data-table-id="" 
                     data-item=""
                     data-quantity=""
                     data-url="{% url 'add_purchase' %}"
                     onclick="handlePurchase(this)"
                     
                     type="button">Tambah</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'ESdashboard/js/cpanel.js' %}"></script>
    <script src="{% static 'ESdashboard/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ESdashboard/js/bold-and-dark.js' %}"></script>
</body>

</html>